<!DOCTYPE html>
<html lang="en-us">
    <meta charset="utf-8" />
    <meta name="keywords" content="field-buzz, field, buzz, user, user-data" />
    <meta name="description" content="Field buzz user data entry app" />
    <meta name="author" content="Saiful Islam Rasel" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="icon" href="{% static icon/icon-192x192.png %}" sizes="192x192" />
    <link rel="apple-touch-icon" href="{% static icon/icon-300x300.png %}" sizes="180x180" />
    <link rel="apple-touch-icon" href="{% static icon/icon-300x300.png %}" sizes="300x300" />

    <link rel="stylesheet" href="{% static css/style.css %}" />

    <title>Field Buzz User Data Entry APP</title>
</html>

<body>
    <section class="form">
        <img src="{% static icon/fieldBuzzLogo.png %}" alt="field buzz logo" />
        {% block content %}
            <!-- Content goes here!!! -->
        {% endblock %} 
    </section>
</body>